language: php

php:
  - 5.6

before_script:
  - cp .env.travis .env
  - mysql -e 'create database scrutinizer;'
  - composer self-update
  - composer install --no-interaction
  - php artisan migrate

script:
  - vendor/bin/phpunit